/Image Recognition.py
/Literature review.pptx
/Untitled.ipynb
/VScode_python script
/aes_food_df.csv
/code_math
/downloaded_images
/env_math_mod.yml
/environment.yml
/food_df.csv
/food_images_analysis_with_original.csv
/rp_1.pdf
/sampl_food.csv
/sampled_images
/sampled_images.csv
/sampled_images.xlsx
/updated_sampl_food.csv
*.csv
*.xlsx
*.pdf
code/.DS_Store
.DS_Store
.DS_Store
presentation:info/Lit review.pptx
/.jpg
code/saved_images
/.pptx
